@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;500;700&family=Poppins:wght@200;400;700&display=swap');

html,
body,
body > div { /* the react root */
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b { /* used for event dates/times */
  margin-right: 3px;
}

a {
  color: #215b98;
}

.btn-secondary {
  font-family: 'Poppins', sans-serif !important;
  border-radius: 0;
  width: 180px !important;
}


.logo {
  height:10vh;
}

.social-media {
  height: 5%;
  font-size: 2em;
}

.button {
  background-color: #2C3E50;
  border: none;
  margin: .5em;
  padding: .5em;
  cursor: pointer;
}

.button:hover {
  opacity: .5;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 50px;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}

[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: #000;
}

.popup-title {
  text-align:center;
  color: #215b98;
  font-family: 'Poppins', sans-serif !important;
}

.top-menu {
  background-color: #151e27;
  opacity: .9;
  left: 0;
  position: absolute;
  width:105%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index:999;
}

.top-menu > .buttons {
  width: auto;
  display: flex;
  justify-content: flex-end;
}

.open-left-menu {
  width: 60px;
  display:flex;
  color: #fff !important;
  background-color: transparent !important;
  border: none !important;
  font-size: 36px !important;
}

.open-left-menu:hover {
  background-color: transparent !important;
  color: #215b98 !important;
  border: none !important;
}

.offcanvas-start {
  color: #fff;
  background-color: #2C3E50;
  /*rgba(255, 220, 40, 0.15)*/
}

.btn-close {
  color: #fff !important;
}

.offcanvas-backdrop {
  background-color: transparent !important;
}

.offcanvas.offcanvas-start {
  width: 250px;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-menu{
  height: 90%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.sidebar-menu > .header {
  height: 20%;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.sidebar-menu > .control {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar-menu > .footer {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar-menu > .header > img {
  border-radius: 50%;
  margin: 10px;
}

.calendar-wrapper {
  position: absolute;
  right:3%;
  top:42% !important;
  float:right;
  margin: auto;
  width: 30%;
  height: 25%;
}

.fc table{
  font-size: 12px !important;
}

.fc-daygrid-day {
  padding:5px !important;
}

.fc-liquid-hack {
  font-size: 10px !important;
}

.fc-toolbar-title {
  font-size: 16px !important;
}

.fc-header-toolbar {
  font-size: 12px !important;
}

.fc-icon {
  font-size: 12px !important;
}

.fc-today-button {
  margin: 0 !important;
}

.list-events {
  position: absolute;
  height: 45%;
  width: 55%;
  top: 42%;
  left: 5%;
  right: 0;
}

.list-events > h4 {
  text-align: center;
  color: #2C3E50;
}

.carousel {
  position: absolute;
  background-color: #215b98;
  color: #fff;
  top:0%;
  left:0;
  right:0;
  width: 100%;
  height: 40%;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-dark .carousel-control-next-icon, .carousel-control-prev-icon, .carousel-dark {
  filter: none !important;
}

.list-group-item.active {
  background-color: #2C3E50;
}

.filters {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  justify-content: space-between;
}

.input-group {
  display: flex;
  flex-direction: row;
  margin: 5px 5px;
  padding: 5px;
  flex-wrap: nowrap !important;
}

.input-group-text{
  width: 20%;
  font-size: 14px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.search > .input-group-text {
  width: auto !important;
}

.btn-outline-primary {
  margin: 10px !important;
}

.filter {
  width: auto;
}

.form-control {
  width:40% !important;
}

.form-select, .form-control {
  font-size: 12px;
}

.md-icon {
  font-size:18px;
}

.logout {
  text-decoration: none;
  color: #fff;
  position: absolute;
  bottom: 15%;
}

.logout:hover {
  color: #fff;
  text-decoration: underline;
}

.fix-btn-width {
  width: 140px;
}

.resize-img {
  object-fit: cover !important;
  height: 385px;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.txt-elipsis {
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}

.txt-elipsis-lg {
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  max-height: 14em;
  line-height: 1.8em;
  line-clamp: 5;
  -webkit-line-clamp: 5;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  body {
    overflow: auto;
  }

  .calendar-wrapper {
    display: none;
  }

  .list-events {
    width: 90%;
  }
}

/* Tablet */
@media only screen and (max-width: 992px) {
  body {
    overflow: auto;
  }

  .calendar-wrapper {
    display: none;
  }

  .list-events {
    width: 90%;
  }
}
